/* Dimensions */
$padding:    15px !default;
$margin:     15px !default;
$sound-size: 15em !default;

/* Fonts */
$font-folder:        "../fonts/";
$font-material-icon: "#{$font-folder}MaterialIcons-Regular.woff2";
